<!DOCTYPE html>
<html>
	<head>
		<title>Inventory / Add category</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<ul>
			<% category_list.forEach(function(category) {%>
			<li><a href="/catalog/category/<%=category._id%>"> <%=category.name%> </a></li>
			<%});%>
		</ul>
		<form method="POST" action="">
			<div>
				<label>
					Name <input name="name" required value="<%=locals.category ? category.name : ""%>" />
				</label>
			</div>
			<div>
				<label>
					Description <input name="description" required value="<%=locals.category?
					category.description : ""%>" />
				</label>
			</div>
			<% if (locals.category) { %>
			<div>
				<label>
					Admin password
					<input type="password" name="password" required />
				</label>
			</div>

			<%}%>
			<div><input type="submit" value="<%=locals.category? "Update" : "Add"%>" /></div>
			<% if (locals.errors) { %>
			<ul>
				<% errors.forEach(function(error) { %>
				<li><%= error.msg %></li>
				<% }) %>
			</ul>
			<% } %>
		</form>
	</body>
</html>
