<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul class="stuff-container">
			<% category_list.forEach(function(category) { %>
			<li class="card">
				<h2>
					<a href="<%=category.url%>">
						<%= category.name %>
					</a>
				</h2>
				<p><%= category.description %></p>
			</li>
			<% }); %>
		</ul>
		<div><a href="/catalog/items/">See a list of all items</a></div>
		<div><a href="/catalog/item/create">Add a new item</a></div>
		<div><a href="/catalog/category/create">Add a new category</a></div>
	</body>
</html>
