<!DOCTYPE html>
<html>
	<head>
		<title>Inventory / <%= category.name %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= category.name %></h1>
		<p><%= category.description %></p>
		<ul class="stuff-container">
			<% if (category_items.length) { %> 
				<% category_items.forEach(function(item) { %>
			<li class="card">
				<h2>
					<a href="<%=item.url%>"> <%= item.name %> </a>
				</h2>
				<img src="<%= item.image %>" alt="Wallpaper thumbnail" />
				<p>$<%= item.price %></p>
				<p><%= item.stockCount %> remaining.</p>
			</li>
			<% }) %>
			<% } else { %>
			<li>There are no items in this category. Add some <a href="/catalog/item/create">here.</a></li>
			<% } %>
		</ul>
	</body>
</html>
