<!DOCTYPE html>
<html>
	<head>
		<title>Inventory / <%= item.name %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="card">
			<h1><%= item.name %></h1>
			<p><a href="<%=item.category.url%>"><%= item.year %></a></p>
			<img src="<%= item.image %>" alt="Wallpaper thumbnail" />
			<p>$<%= item.price %></p>
			<p><%= item.stockCount %> remaining.</p>
		</div>
	</body>
</html>
