<!DOCTYPE html>
<html>
	<head>
		<title>Inventory / Add item</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<form method="POST" action="" enctype="multipart/form-data">
			<div>
				<label for="category"> Category: </label>
				<select id="category" name="category" required>
					<option value="">Select a decade</option>
					<% category_list.forEach(function(category) {%>
					<option
						name="<%= category._id%>"
						value="<%= category._id%>"
						selected="<%= locals.category && locals.item && locals.category._id === locals.item.category._id? true: false%>"
					>
						<%= category.name%>
					</option>
					<%});%>
				</select>
			</div>
			<div>
				<label>
					Name <input name="name" required value="<%=locals.item? item.name : ""%>" />
				</label>
			</div>
			<div>
				<label>
					Year <input type="number" name="year" required max="1899" min="1864"
					value="<%=locals.item? item.year : ""%>"/>
				</label>
			</div>
			<div>
				<label>
					Price <input type="number" name="price" required max="99.99" min="9.99"
					value="<%=locals.item? item.price : ""%>" />
				</label>
			</div>
			<div>
				<label>
					Stock count <input type="number" name="stockCount" required max="99" min="3"
					value="<%=locals.item? item.stockCount : ""%>" />
				</label>
			</div>
			<div>
				<label>
					Image
					<input type="file" name="image" accept="image/*" />
					<% if (locals.item) { %>
					<img src="<%=item.image%>" alt="existing image" />
					<input type="hidden" name="obj" value="<%= item.image%>" />

					<% }%>
				</label>
			</div>
			<% if (locals.item) { %>
			<div>
				<label>
					Admin password
					<input type="password" name="password" required />
				</label>
			</div>

			<%}%>
			<div><input type="submit" value="<%=locals.item? "Update": "Submit"%>" /></div>
			<% if (locals.errors) { %>
			<ul>
				<% errors.forEach(function(error) { %>
				<li><%= error.msg %></li>
				<% }) %>
			</ul>
			<% } %>
		</form>
	</body>
</html>
