<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<ul class="stuff-container">
			<% item_list.forEach(function(item) { %>
			<li class="card">
				<h2>
					<a href="<%=item.url%>"> <%= item.name %> </a>
				</h2>
				<img src="<%= item.image %>" alt="Wallpaper thumbnail" />
				<p>$<%= item.price %></p>
				<p><%= item.stockCount %> remaining.</p>
			</li>
			<% }); %>
		</ul>
	</body>
</html>
