<!DOCTYPE html>
<html>
	<head>
		<title>Inventory / <%= item.name %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="card">
			<h1><%= item.name %></h1>

			<p><a href="<%=item.category.url%>"><%= item.year %></a></p>
			<img src="<%= item.image %>" alt="Wallpaper thumbnail" />
			<p>$<%= item.price %></p>
			<p><%= item.stockCount %> remaining.</p>
		</div>
		<form method="POST" action="">
			<input type="hidden", name="id", value="<%= item._id%>" />
			<input type="hidden", name="obj", value="<%= item.image%>" />
			<input type="password" name="password" placeholder="To delete this item, include the admin password"/>
			<input type="submit" value="Delete" />
		</form>
		<div><a href="<%=item.url%>/update">Update</a></div>

	</body>
</html>
